#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-decoration: underline;
}

.todo-item {
  padding: 10px;
  margin: 15px 0;
  background: linear-gradient(45deg, #644EFC, #9E55FB); 
  color: #ddd; 
  border-radius: 7px;
  font-weight: 600;
}
