#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-decoration: underline;
}

.todo-item-container {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  width: 27px;
  height: 27px; 
}

.todo-item {
  width: 450px;
  padding: 10px 20px;
  margin: 10px 20px;
  background: linear-gradient(45deg, #644EFC, #9E55FB); 
  color: #ddd; 
  border-radius: 7px;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
}